
#calculator {
	width: 70vmin;
	height: 66vmin;
	background-color: #bdc3c7;
	top: 50%;
	left: 30%;
	right: 30%;
	transform: translateY(-50%);
	position: absolute;
}

#result {
	height: 18vmin;
	background-color: black;
	line-height: 18vmin;
	text-align: right;
	font-size: 9vmin;
	color: white;
}

.key {
	height: 12vmin;
	/*box-sizing: border-box;*/
	line-height: 12vmin;
	text-align: center;
	font-size: 3vmin;
	border: 1px solid white;
	padding: 0;
	border-radius: 5px;
}

.key:hover {
	background-color: #ecf0f1;
}

.keys {
	padding-right: 0;
	padding-left: 0;
}


.keycolr {
	background-color: #f39c12;
}

.keycolrhover:hover {
	background-color: #f1c40f;

}



.eqcolr {
	background-color: #F22613;
}

.eqcolrhover:hover {
	background-color: #d35400;
}












