/*.vcenter {
	position: absolute;
	top:50%;
	padding: 0px;
}*/

#calculator {
	width: 70vmin;
	height: 66vmin;
	background-color: #BDC3C7;
}

#result {
	height: 18vmin;
	background-color: black;
	line-height: 18vmin;
	text-align: right;
	font-size: 9vmin;
	color: white;
}

.key {
	height: 12vmin;
	/*box-sizing: border-box;*/
	line-height: 12vmin;
	text-align: center;
	font-size: 3vmin;
	border: 2px solid black;
	padding: 0;
	border-radius: 5px;
}

.keys {
	padding-right: 0;
	padding-left: 0;
}

.keycolr {
	background-color: #F89406;
}

.eqcolr {
	background-color: #F22613;
}

.key:hover {
	background-color: #F2F1EF;
}

.keycolrhover:hover {
	background-color: #F5AB35;
}

.eqcolrhover:hover {
	background-color: #F62459;
}












